
$bgcolor: #fafafa;
$textcolor: #111;
$fontsize: 24px;
$accent: #007aff;
$accent_background: #EBF4FF;


body {
  background: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

.this-button {
    position:absolute;
    top: 20px;
    left: 20px;
    border-color: $accent;
    transition: all 0.1s linear;
    background: $accent_background;
    outline: none;
    border-style: none;
    border-radius: 8px;
    color: $accent;
}
.this-button:hover {
    opacity: 50%;
}
.this-button:active {
    opacity: 100%;
    background-color: $accent;
    color: white;
}